<%= simple_form_for(@transaction) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :source, { label_method: :long_name, prompt: "Choose an account", collection: Account.where('user_id = ?', current_user.id) } %>
    <%= f.association :destination, { label_method: :long_name, prompt: "Choose an account" } %>
    <%= f.input :amount %>
    <%= f.input :comment %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-primary pull-right" %>
  </div>
<% end %>
