<p id="notice"><%= notice %></p>

<h1>Listing Transactions</h1>
<%
   toto = {
  "trid1" => 10,
  "trid2" => 20 
} 
  titi = {}
  @transactions.each do |t|
    titi[t.source.id] = t.amount
  end
  
%>
<%= pie_chart titi %>
<div class="legend">Here are the transactions of your accounts</div>
<table>
  <thead>
    <tr>
      <th>Source account</th>
      <th>Destination account</th>
      <th>Amount</th>
      <th>Comment</th>
    </tr>
  </thead>

  <tbody>
    <% @transactions.each do |transaction| %>
      <tr>
        <td><%= transaction.source.long_name %></td>
        <td><%= transaction.destination.long_name %></td>
        <td><%= transaction.amount %></td>
        <td><%= transaction.comment %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transaction', new_transaction_path %>
