<p>
  <strong>Source:</strong>
  <%= @transaction.source.long_name %>
</p>

<p>
  <strong>Destination:</strong>
  <%= @transaction.destination.long_name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<%= link_to 'Return to the list', transactions_path %>
