<p>
  <strong>Account Number:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Solde:</strong>
  <%= number_to_currency(@account.solde, locale: :en) %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
