<p id="notice"><%= notice %></p>

<p>
  <strong>Account Number:</strong>
  <%= @account.id %>
</p>

<p>
  <strong>Solde:</strong>
  <%= @account.solde %>
</p>

<p>
  <strong>User:</strong>
  <%= @account.user.name %>
</p>

<%= link_to 'Edit', edit_account_path(@account) %> |
<%= link_to 'Back', accounts_path %>
